body{
  font-family: 'Crimson Pro', serif;
  margin: 0;
  background-color: black;
  color: white;
  text-align: center;
}

/*
div{
  background-color: #E4F9F5;
}
*/

h1{
  font-size: 4rem;
  color: #66BFBF;
  line-height: 2;
  margin: 50px auto 0 auto;
  font-family: 'Bodoni Moda', serif;
}

h2{
  font-size: 2.5rem;
  margin-top: 0;
  color: #66BFBF;
  font-weight: normal;
}

h3{
  margin-top: 0;
  color: #11999E;
}

/* Slider */
#slider{
    width:100%;
    height:50rem;
    position:relative;
    overflow:hidden;
}
@keyframes load{
    from{left:-100%;}
    to{left:0;}
}
.slides{
    width:400%;
    height:100%;
    position:relative;
    -webkit-animation:slide 30s infinite;
    -moz-animation:slide 30s infinite;
    animation:slide 30s infinite;
}
.slider{
    width:25%;
    height:100%;
    float:left;
    position:relative;
    z-index:1;
    overflow:hidden;
}
.slide img{
    width:100%;
    height:100%;
}
.slide img{
    width:100%;
    height:100%;
}
.image{
    width:100%;
    height:100%;
}
.image img{
    width:100%;
    height:100%;
}

/* Legend */
.legend{
    border:500px solid transparent;
    /*border-left:800px solid rgba(52, 73, 94, .7);*/
    border-bottom:0;
    position:absolute;
    bottom:0;
}

/* Contents */
.content{
    width:100%;
    height:100%;
    position:absolute;
    overflow:hidden;
}
.content-txt{
    width:400px;
    height:150px;
    float:left;
    position:relative;
    top:35rem;
    -webkit-animation:content-s 7.5s infinite;
    -moz-animation:content-s 7.5s infinite;
    animation:content-s 7.5s infinite;
}
.content-txt h2{
    font-family:Arial;
    text-transform:uppercase;
    font-size:24px;
    color:#fff;
    text-align:left;
    margin-left:30px;
    padding-bottom:10px;
}
.content-txt p{
    font-family:arial;
    font-weight:normal;
    font-size:14px;
    font-style:italic;
    color:#fff;
    text-align:left;
    margin-left:30px;
}

/* Switch */
.switch{
    width:120px;
    height:10px;
    position:absolute;
    bottom:50px;
    z-index:99;
    left:30px;
}
.switch > ul{
    list-style:none;
}
.switch > ul > li{
    width:10px;
    height:10px;
    border-radius:50%;
    background:#333;
    float:left;
    margin-right:5px;
    cursor:pointer;
}
.switch ul{
    overflow:hidden;
}
.on{
    width:100%;
    height:100%;
    border-radius:50%;
    background:#f39c12;
    position:relative;
    -webkit-animation:on 30s infinite;
    -moz-animation:on 30s infinite;
    animation:on 30s infinite;
}

/* Animation */
@-webkit-keyframes slide{
    0%,100%{
        margin-left:0%;
    }
    21%{
        margin-left:0%;
    }
    25%{
        margin-left:-100%;
    }
    46%{
        margin-left:-100%;
    }
    50%{
        margin-left:-200%;
    }
    71%{
        margin-left:-200%;
    }
    75%{
        margin-left:-300%;
    }
    96%{
        margin-left:-300%;
    }
}
@-moz-keyframes slide{
    0%,100%{
        margin-left:0%;
    }
    21%{
        margin-left:0%;
    }
    25%{
        margin-left:-100%;
    }
    46%{
        margin-left:-100%;
    }
    50%{
        margin-left:-200%;
    }
    71%{
        margin-left:-200%;
    }
    75%{
        margin-left:-300%;
    }
    96%{
        margin-left:-300%;
    }
}
@keyframes slide{
    0%,100%{
        margin-left:0%;
    }
    21%{
        margin-left:0%;
    }
    25%{
        margin-left:-100%;
    }
    46%{
        margin-left:-100%;
    }
    50%{
        margin-left:-200%;
    }
    71%{
        margin-left:-200%;
    }
    75%{
        margin-left:-300%;
    }
    96%{
        margin-left:-300%;
    }
}

@-webkit-keyframes content-s{
    0%{left:-420px;}
    10%{left:0px;}
    30%{left:0px;}
    40%{left:0px;}
    50%{left:0px;}
    60%{left:0px;}
    70%{left:0;}
    80%{left:-420px;}
    90%{left:-420px;}
    100%{left:-420px;}
}
@-moz-keyframes content-s{
    0%{left:-420px;}
    10%{left:0px;}
    30%{left:0px;}
    40%{left:0px;}
    50%{left:0px;}
    60%{left:0px;}
    70%{left:0;}
    80%{left:-420px;}
    90%{left:-420px;}
    100%{left:-420px;}
}
@keyframes content-s{
    0%{left:-420px;}
    10%{left:20px;}
    15%{left:0px;}
    30%{left:0px;}
    40%{left:0px;}
    50%{left:0px;}
    60%{left:0px;}
    70%{left:0;}
    80%{left:-420px;}
    90%{left:-420px;}
    100%{left:-420px;}
}

@-webkit-keyframes on{
    0%,100%{
        margin-left:0%;
    }
    21%{
        margin-left:0%;
    }
    25%{
        margin-left:15px;
    }
    46%{
        margin-left:15px;
    }
    50%{
        margin-left:30px;
    }
    71%{
        margin-left:30px;
    }
    75%{
        margin-left:45px;
    }
    96%{
        margin-left:45px;
    }
}

@-moz-keyframes on{
    0%,100%{
        margin-left:0%;
    }
    21%{
        margin-left:0%;
    }
    25%{
        margin-left:15px;
    }
    46%{
        margin-left:15px;
    }
    50%{
        margin-left:30px;
    }
    71%{
        margin-left:30px;
    }
    75%{
        margin-left:45px;
    }
    96%{
        margin-left:45px;
    }
}

@keyframes on{
    0%,100%{
        margin-left:0%;
    }
    21%{
        margin-left:0%;
    }
    25%{
        margin-left:15px;
    }
    46%{
        margin-left:15px;
    }
    50%{
        margin-left:30px;
    }
    71%{
        margin-left:30px;
    }
    75%{
        margin-left:45px;
    }
    96%{
        margin-left:45px;
    }
}


.middle-container{
    position: relative;
	text-align: left;
}

.bottom-container{
    text-align: center;
    background-color: #353535;
    margin-top: 25rem;
	padding: 2rem;
}

.top-cloud{
  position: absolute;
  right: 300px;
  top:80px;
}

.bottom-cloud{
  position:absolute;
  left: 300px;
  bottom: 350px;
}

.lappy-img{
    margin-top: 10rem;
    width: 100%;
}

.group_photo{
  width: 22%;

}

.profile{
    font-size: 1.5rem;
    background-color: #353535;
    color: white;
    margin-top: -5%;
    z-index: 2;
    position: absolute;
    padding: 2rem;
    height: 222px;
    width: 725px;
    margin-left: 25%;
}

.details{
    position: absolute;
    margin-top: -40rem;
    font-size: 1.5rem;
    margin-left: 5rem;
}

ul.a {
    list-style-type: disclosure-closed;
	text-align: left;
}
ul.b  {
    list-style-type: square;
	text-align: left;
}

.Barriers{
    position: absolute;
    margin-top: 5rem;
    font-size: 1.5rem;
    margin-left: 2rem;
	text-align: left;
}



.skill-row{
    background-color: #353535;
    padding: 3rem;
    font-size: x-large;
	margin-top: -1rem;
}


.footer{
	text-align: center;
}

.imgAnalysis{
	width: 70%
}

.Analysis{
	font-family: 'Crimson Pro', serif;
	font-size: x-large;
	text-align: center;
	padding: 2rem;
}

.Sketches{
    font-family: 'Crimson Pro', serif;
    font-size: x-large;
    text-align: center;
    padding: 2rem;
}

.User{
	font-family: 'Crimson Pro', serif;
	text-align: center;
	padding: 2rem;
}
